<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mathnet{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mathquill@0.10.1/build/mathquill.css">
    <script src="https://cdn.jsdelivr.net/npm/mathquill@0.10.1/build/mathquill.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
    <script src="https://www.desmos.com/api/v1.10/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <script src="https://cdn.tiny.cloud/1/clbmong8mftjglyynaj1qdo2p9clpr7gxqglhs7utt7fcxed/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <header>
        <h1>Mathnet</h1>
        <!-- <nav>
            <a href="home.html">Home</a>
            <a href="#">Courses</a>
        </nav> -->
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="home" href="/home">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            {% else %}
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
            {% endif %}          
          </div>
        </div>
      </nav>
    
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" clas="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" clas="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
      {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>2024 Mathnet</p>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script 
        src="{{ url_for('static', filename='js/scripts.js') }}">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/desmos@latest/dist/calculator.min.js"></script>

    <script>
      var calculator;
      
      // Check if the element exists before attaching the event
      var addDesmosGraphBtn = document.getElementById('add-desmos-graph');
      if (addDesmosGraphBtn) {
          addDesmosGraphBtn.onclick = function() {
              document.getElementById('desmosModal').style.display = 'block';
              calculator = Desmos.GraphingCalculator(document.getElementById('desmos-calculator'));
          };
      }

      var saveDesmosGraphBtn = document.getElementById('save-desmos-graph');
      if (saveDesmosGraphBtn) {
          saveDesmosGraphBtn.onclick = function() {
              if (calculator) {
                  var state = calculator.getState();
                  document.getElementById('desmos-state').value = JSON.stringify(state);
                  document.getElementById('desmosModal').style.display = 'none';
              }
          };
      }
    </script>
    
</body>
</html>